<nav id="main-nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="posts-link-container" 
            class="<%= active_nav_class(@conn, Blog.Admin.PostController) %>">
          <%= link "Posts", to: admin_post_path(@conn, :index), id: "posts-link" %>
        </li>
      </div>
    </div>
  </div>
</nav>
