<h1>Edit Post</h1>
<h2><%= @post.title %></h2>

<%= render "form.html", changeset: @changeset, 
                        conn: @conn,
                        action: admin_post_path(@conn, :update, @post) %>
