<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger"> 
      <p>Oops, something went wrong! Please check the errors below.</p> 
    </div>
  <% end %>

  <div class="form-group"> 
    <%= label f, :title, class: "control-label" %> 
    <%= text_input f, :title, class: "form-control" %> 
    <%= error_tag f, :title %>
  </div>

  <div class="form-group"> 
    <%= label f, :body, class: "control-label" %> 
    <%= textarea f, :body, class: "form-control" %> 
    <%= error_tag f, :body %>
  </div>

  <div class="form-group"> 
    <%= submit "Submit", class: "btn btn-primary", id: "post-form-submit" %> 
    <%= link "cancel", to: admin_post_path(@conn, :index), class: "btn btn-default" %>
  </div>
<% end %>
