<%= link to: admin_post_path(@conn, :new), 
         id: "new-post-link",
         class: "btn btn-success pull-right" do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  New Post
<% end %>

<h1 id="page-title">Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Posted At</th>
      <th>Post</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for post <- @posts do %>
      <tr class="post-tr" id="post-tr-<%= post.id %>">
        <td style="width:200px;">
          <span class='post-inserted-at'>
            <%= format_datetime(post.inserted_at) %>
          </span>
        </td>
        <td>
          <b class="post-title"><%= post.title %></b>
          <div class="body"><%= post.body %></div>
        </td>
        <td class="text-right">
          <%= link to: admin_post_path(@conn, :edit, post),
                   class: "btn btn-sm btn-warning edit-link" do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            edit
          <% end %>
          <%= link to: admin_post_path(@conn, :delete, post),
                   method: :delete,
                   class: "btn btn-sm btn-danger delete-link" do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
